* { margin:0; padding:0; }
body {
    font-family:Arial, sans-serif;
    font-size:15px;
}
h1,h2,h3,h4 {
    font-family:Garamond,Georgia,serif;
}
a {
    text-decoration:none;
    color:#69c;
}
a:hover {
    text-decoration:underline;
}
#container {
    width:580px;
    margin:0 auto 100px;
    padding-right:40px;
}
.main_content p {
    font-size:18px;
    line-height:1.5em;
    margin:8px 40px 20px 0;
}
.main_content h2 {
    margin:10px 0 15px;
    font-size:25px;
}
.main_content h3 {
    margin:15px 0 7px;
    font-size:18px;
}
#top {
    margin:20px 0px 30px;
}
#top h1 {
    font-size:72px;
}
#top p {
    color:#999;
    margin:0px 0 0;
    font-size:25px;
}
.display_box {
    margin-bottom:50px;
}
ol, ul {
    list-style-position:inside;
    margin: 0 0 20px 15px;
    font-size:18px;
}
ol li, ul li {
    margin:0 0 5px 0;
}
code {
    display:block;
    padding:10px 3px 10px 15px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:5px 0 15px;
    clear:both;
    float:none;
    font-size: 15px;
    font-family: Bitstream Vera Sans Mono,monospace
    
}
#footer {
    font-size:13px;
}
.footer_txt {
    padding-right:180px;
}
