/*
 *  newt_slideshow.css
 *
 * */

* { margin:0; padding:0; }
body, input, textarea {
    font-family:Arial,sans-serif;
    font-size:13px;
}
h1 {
    font-size:23px;
}
h2 {
    font-size:18px;
}
h3 {
    font-size:18px;
    font-weight:normal;
},
h4, h5 {
    font-size:15px;
}
h5 {
    font-weight:normal;
}
h6 {
    font-weight:normal;
    font-size:16px;
}
.outer_slideshow {
    position:relative;
}
.sng_photo_box {
    position:absolute;
    top:0;
    left:0;
}

